:root {
    font-size: 14px;
}

body {
    font-family     : sans-serif;
    background-color: aliceblue;

    a.active_quiz {
        font-weight: bold;
    }

    table td:has(input) {
        background-color: red;
        padding: 0;

        input {
            border    : none;
            padding   : 0.25em 0.25em 0.25em 0;
            width     : 6em;
            text-align: right;
            direction : rtl;
        }
    }
}
