:root {
    font-size: 15px;
}

body {
    position        : relative;
    margin          : 1em;
    font-family     : sans-serif;
    background-color: aliceblue;

    h1 { font-size: 1.75rem }
    h2 { font-size: 1.5rem }
    h3 { font-size: 1.25rem }
    h4 { font-size: 1rem }

    nav {
        position: absolute;
        top     : 0;
        right   : 0;

        ul {
            margin: 0;

            li {
                list-style: none;
            }
        }
    }

    main {
        div.inline {
            display       : inline-block;
            vertical-align: top;
            margin-right  : 1em;

            & > table:first-child,
            & > p:first-child {
                    margin-top: 0;
            }
        }

        a.active_quiz {
            font-weight: bold;
        }

        table {
            td:has(input) {
                padding: 0;

                input {
                    border    : none;
                    padding   : 0.125em 0.5em 0.125em 0;
                    width     : 4.5em;
                    text-align: right;
                    direction : rtl;
                }
            }

            tr.no_stats {
                td {
                    background-color: #ffc;
                }
                td:first-child {
                    font-weight: bold;
                }
            }

            tr.has_stats td {
                background-color: #cfc;
            }
        }
    }
}
