:root {
    font-size: 15px;
}

body {
    position        : relative;
    margin          : 1em;
    font-family     : sans-serif;
    background-color: aliceblue;

    nav {
        position: absolute;
        top     : 0;
        right   : 0;

        ul {
            margin: 0;

            li {
                list-style: none;
            }
        }
    }

    main {
        div.inline {
            display       : inline-block;
            vertical-align: top;
            margin-right  : 1em;

            & > table:first-child,
            & > p:first-child {
                    margin-top: 0;
            }
        }

        a.active_quiz {
            font-weight: bold;
        }

        table td:has(input) {
            padding: 0;

            input {
                border    : none;
                padding   : 0.125em 0.5em 0.125em 0;
                width     : 4.5em;
                text-align: right;
                direction : rtl;
            }
        }
    }
}
